.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cabecalho .itens-esquerda, .cabecalho .itens-direira {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cabecalho .avatar {    
    width: 30px;
}