* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-orange: hsl(26, 100%, 55%);
    --color-pale-orange: hsl(25, 100%, 94%);
}


body {
    font-family: 'Kumbh Sans', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
